<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film list</title>
</head>
<body>
    <h1>Film list</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Language</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="film: ${films}">
                <td th:text="${film.id}">100</td>
                <td th:text="${film.title}">Rocky</td>
                <td th:text="${film.language.name}">English</td>
                <td><a th:href="@{'/films/' + ${film.id}}">Detail</a></td>
            </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{'/films/new'}">Add a film</a>
    </div>
</body>
</html>